.my-shop-container {
	margin: 100px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 85%;
}

//Stats
.stats-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 75%;
	margin-bottom: 2rem;
}

.stats-card {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 20%;
	height: 50px;
	padding: 5px;
	background: #fff;
	box-sizing: border-box;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25%;
	height: 40px;
	margin-right: 1rem;
	border-radius: 5px;
	background: #fcc00a;
}

.card-text {
	margin-top: 0.5rem;
	line-height: 0px;
	p {
		font-size: 12px;
		line-height: 0px;
	}
}

//Table
.table-container {
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 75%;
	height: 65vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	background-color: #fff;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	table {
		width: 100%;
	}

	th {
		display: flex;
		justify-content: space-around;
		padding: 5px;
	}

	tr {
		display: flex;
		justify-content: space-around;
		padding: 5px;
		scroll-snap-align: center;
		&:hover {
			cursor: pointer;
		}
	}

	td {
		width: 30%;
	}
}

.table-header-row {
	height: 30px;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	td {
		font-weight: 400;
	}
}

.table-detail-row {
	height: 50px;
	display: flex;
	align-items: center;
	margin-bottom: 0.2rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	td {
		font-weight: 400;
	}
}

.image_avatar {
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

.btn {
	border: 1px solid #f48b16;
	outline: none;
	background: none;
	color: #f48b16;
}

.btn:hover {
	background: #f48b16;
	color: #fff;
}
