.product-details {
	margin: 100px auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 85%;
}

.col-1 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	img {
		width: 50%;
	}
}

.col-2 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	// border: 1px solid rgba(0, 0, 0, 0.5);

	button {
		outline: none;
		border: none;
		height: 40px;
		width: 100px;
		color: #fff;
		background: #f48b16;
	}
}
.col-2 button:hover {
	background: #9e5705;
}
